<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tdw46.beyond-media-suite.screen-recordings</string>
  <key>ProgramArguments</key>
  <array>
    <string>__WATCHER_PATH__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>BMS_SCREEN_RECORDING_DIR</key>
    <string>__CAPTURE_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>30</integer>
  <key>WatchPaths</key>
  <array>
    <string>__CAPTURE_DIR__</string>
  </array>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
</dict>
</plist>
